.footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0,0,0,.4);
    backdrop-filter: blur(50px);
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
    overflow: visible;
    margin: 0;
    padding: 20px 0;
}
.title{
    text-align: center;
}
.cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cont-icon{
    display: flex;
    flex-direction: column;
    
}

.cont>img {
    width: 250px;
    height: fit-content;
    margin-right: 50px;
    margin-bottom: 3%;
}

.cont-icon>a {
    display: flex;
    flex-direction: row;
    font-family: 'Montserrat';
    text-decoration: none;
    color: var(--title-color-primary);
    font-size: 20px;
    align-items: center;
    margin-bottom: 4%;
}
.cont-icon>a>img {
    width: 30px;
    height: fit-content;
    margin-right: 10px;
}

@media (min-width: 900px) {
    .cont {
        flex-direction: row; /* Cambia la dirección a columnas */
         /* Alinea los elementos al inicio */
    }
}